* {
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: transparent;
}

body {
  font-family: sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.title {
  margin-bottom: 1rem;
}

.container {
  text-align: center;
}

.container-img {
  background-color: var(--bg-color);
  background-image: url("https://marketplace-cdn.atlassian.com/files/422562e8-0358-462a-8dca-301eeb611c93?fileType=image&mode=full-fit");
  background-position: center center;
  background-size: cover;
  background-blend-mode: multiply;
  background-repeat: no-repeat;

  height: 300px;
  width: 500px;

  border-radius: 8px;
  overflow: hidden;
  border: 6px solid black;

  margin-top: 20px;
  transition: all 0.5s;
}

.container-img:hover {
  background-color: transparent;
}

.btn-red:hover ~ .container-img {
  --bg-color: red;
}
.btn-green:hover ~ .container-img {
  --bg-color: green;
}
.btn-blue:hover ~ .container-img {
  --bg-color: blue;
}

.btn {
  padding: 0.25rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.btn + .btn {
  margin-left: 1rem;
}